<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span class="app-title">The Anuglar Movies</span>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Search" [type]="'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Search'" aria-hidden="false">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <nav mat-tab-nav-bar color="accent">
      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="['/'+link.path]"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
</mat-toolbar>
<router-outlet></router-outlet>
